<!DOCTYPE html>
<html lang="en" ng-app="myContainer">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Retirement Calculator</title>
        
        <!-- CSS Dependencies-->
        <link rel="stylesheet" href="ng-src/rc_style.css" />
        <link data-require="bootstrap@*" data-semver="4.1.1" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
        <!-- JS Dependencies -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
        <script data-require="angular.js@*" data-semver="4.0.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
        <script src="ng-src/rc_app.js"></script>
        <script src="ng-src/rc_dp.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>

    <body ng-controller="RetCulator">
        <!-- Page Content -->
        <div class="container">
            <div class="row" style="margin: 0 10px;">
                <div class="col-lg-12 text-center">
                    <h1 class="mt-5">Retire Well</h1>
                    <p class="lead">Why wait till tomorrow</p>
                </div>
                <div class="top">
                    <!--<span>Effective Rate: {{effRate}}</span> | -->
                    <!--<span>No. of Period: {{noPeriod}}</span>-->
                    <!--<br><br>-->
                    <!--<span>x = {{xValue}}</span><br>-->
                    <!--<span>y = {{yValue}}</span><br><br>-->
                    <!--<span>zi = {{ziValue}}</span><br>-->
                    <!--<span>z = {{zValue}}</span><br><br>-->
                    <!--<span>a = {{aValue}}</span><br>-->
                    <!--<span>A = {{exAmt}}</span><br><br>-->

                    <span>Deposit per Month = {{finalVal}}</span><br>
                    <span>Interest Earned = {{intearn}}</span><br>
                    <span>Total Contribution = {{totaldp}}</span><br>
                </div>
                <div class="bottom">
                    <form>
                        <label>Retirement Date:</label>
                        <input type="text" ng-change="calret()" ng-model="futureDate" datepicker/><br /><br />
                        <!--<span>No of Period: {{dateDiff}}</span>-->
                        <label>Expected Amount</label>
                        <input type="text" ng-change="calret()" ng-model="exAmt"/>
                        <br><br>

                        <label>Payment Frequency:</label>
                        <select ng-change="calret()" ng-model="current_freq" ng-init=" current_freq = freq_option[1].id" ng-options="option.id as option.name for option in freq_option"></select><br /><br />

                        <label>Payment Time:</label>
                        <select ng-change="calret()" ng-model="current_mode" ng-init=" current_mode = mode_option[1].id" ng-options="option.id as option.name for option in mode_option"></select><br /><br />
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="quote">
                <div class="quote-icon"><i aria-hidden="true" class=""></i></div>
                <div style="padding:50px 0px 20px 0px;">
                    <p>To Save for Retirement, you will save</p>
                    <h1>N{{finalVal}}</h1>
                    <p>for</p>
                    <p class="duration">3 years and 4 months</p>
                    <div class="int-total">
                        <h6 style="display: inline-block; font-size: 1.3rem; margin: 0; float: left;">N{{totaldp}}<span class="int-total-n">Total Contribution</span></h6>
                        <h6 style="display: inline-block; font-size: 1.3rem; margin: 0; float: right;">N{{intearn}}<span class="int-total-n">Interest Earned</span></h6>
                    </div>
                </div>
                <div class="quote-by">Swim Smooth</div>
            </div>
        </div>
    </body>
</html>